@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    letter-spacing: 7.50px;
    word-wrap: break-word;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 70%;
    height: auto;
    margin: auto;
    border-radius: 10px 10px 10px 10px;
    border: 3px solid #000000;
    padding: 10px;
}

body{
    background-color: rgb(167, 167, 167);
}
.line p{
    border-left: #000000;
}
header nav{
    display: flex;
    align-items: stretch;
    color: rgb(0, 0, 0);
}

nav p{
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    padding-top: 70px;
    font-weight: 600;
    /* font-size: revert-layer; */
}

nav h1{
    flex-grow: 5;
    justify-content: end;
    font-size: 500%;
    margin-top: 50px;
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 20px;
}

.icon {
    display: flex;
    align-items: center;
}

.mid-section{
    display: flex;
    align-items: stretch;
}

div li{
    list-style-type: none;
}

div .row{
    display: flex;
    align-items: baseline;
}

.display_info{
 display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

.current-day{
    font-size: 67px;
    font-weight: 700;
}

ul{
    background-color: #D9D9D9;
    margin-left: 60px;
    margin-bottom: 100px;
}

img{
    height: 100px;
}

.row li{
    background-color: #ffffff;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 17px;
}

.right{
    display: flex;
    flex-direction: column;
    margin-left: 40px ;
}

.todo p{
    margin-top: 30px;
    padding-left: 30px;
}

ol li{
    padding: 10px 0 0 80px;
}
