@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@media only screen and (min-width: 1300px) {

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    letter-spacing: 7.50px;
    word-wrap: break-word;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    width: 70%;
    height: auto;
    margin: auto;
    border-radius: 10px 10px 10px 10px;
    border: 3px solid #c5c5c5;
    padding: 10px;
}

.background{
    background-image: url('seasonal-bg/bkg_09_september.jpg');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.line p{
    border-left: #000000;
}
header nav{
    display: flex;
    align-items: stretch;
    color: rgb(0, 0, 0);
}

nav p{
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    padding-top: 70px;
    font-weight: 600;
    color: #ffffff;
}

nav h1{
    flex-grow: 3;
    justify-content: end;
    font-size: 500%;    
    margin-top: 50px;
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 20px;
}

.icon {
    display: flex;
    align-items: center;
}

.mid-section{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

div li{
    list-style-type: none;
}

.display_info{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

.current-day{
    font-size: 67px;
    font-weight: 700;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 60px;
    margin-bottom: 100px;
}

img{
    height: 100px;
}

.months li{
    background-color: #ffffff;
    width: 10vw;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 2vw;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

.right{
    display: flex;
    flex-direction: column;
    margin-left: 40px ;
}

.todo p{
    margin-top: 30px;
    padding-left: 30px;
}

ol li{
    padding: 10px 0 0 80px;
}

.month_calendar{
    text-align: center;
    display: none;
}

#myDays{
    margin-left: 1vw ;
    padding: 10px;
}

.calendar-week-day{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    font-weight: 600;
    height: 100px;
    width: 500px;
}

.calendar-week-day div{
    display: grid;
    place-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
}

.calendar-days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 2px;
    color: #000000;
}

.calendar-days div{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.month-picker{
    cursor: pointer;
}

.month-list {
    display: flex;
    background-color: var(--bg-main);
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
    height: 75px;
}

.month-list > div > div:hover {
    background-color: var(--color-hover);
}


}